body {
   height: 100vh;
   width: 100vw;
   margin: 0;
   background-image: url('./background.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Uncial Antiqua', cursive;
}

ul, li {
   text-decoration: none;
   list-style: none;
}

.header, .main, .footer {
   background: linear-gradient(to bottom, #FFD700, #FFA500);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
}

.header {
   font-size: 80px;
}

.main {
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-content: center;
   flex-wrap: wrap;
   font-size: 40px;
   column-gap: 100px;
}

.layer {
   box-sizing: border-box;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.8);
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.status-container {
   display: flex;
   flex-direction: column;
}

p {
   background: linear-gradient(to bottom, #FFD700, #FFA500);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
}

ul {
   font-weight: bold
}

 .footer {
   font-size: 30px;
}

